body {
    font-family: 'Cairo', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.content {
    padding: 60px 20px;
    max-width: 900px;
    margin: auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content h1 {
    color: #333;
    margin-bottom: 20px;
}
